<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/button.css">
    <script src="https://kit.fontawesome.com/f74ecaf58e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="own-main-edit-box">
       
        <div class="del-alart-box">
            
            <div class="del-alart">
                <div class="close-btn">
                    <i class="fa-solid fa-times"></i>
                </div>
                <div class="del-alart-title">
                    <p>Are you sure you want to delete this post?</p>
                </div>
                <div class="del-alart-btn-box">
                    <button class="del-alart-yes-btn">Yes</button>
                    <button class="del-alart-no-btn">No</button>
                </div>
            </div>
        </div>
    </div>
    <nav>
            <label class="burger" for="burger">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

        <div class="logo">Metagram</div>
        
            <div class="InputContainer">
                <input type="text" name="text" class="input" id="input" placeholder="Search">
                
                <label for="input" class="labelforsearch">
              <svg viewBox="0 0 512 512" class="searchIcon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
              </label>
              <div class="border"></div>
              
              <button class="micButton"><svg viewBox="0 0 384 512" class="micIcon"><path d="M192 0C139 0 96 43 96 96V256c0 53 43 96 96 96s96-43 96-96V96c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 89.1 66.2 162.7 152 174.4V464H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H216V430.4c85.8-11.7 152-85.3 152-174.4V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 70.7-57.3 128-128 128s-128-57.3-128-128V216z"></path></svg>
              </button>
              
            </div>
     
            <div class="nav-end-manu"> 
                <div class="nav-icon">
                    <i class="fa-regular fa-bell"></i>
                </div>   
                  
             <div class="nav-icon">
                  <i class="fa-solid fa-bookmark"></i>
             </div>

             <div class="profile-nav-box">
                    <div class="profile-nav">
                        <img src="/uploads/1711967051270.jpg" alt="Sayan Mondal" class="profile-img">
                    </div>
                    <P>Sayan Mondal</P>
                    <i class="fa-solid fa-angle-down"></i>
             </div>
            </div>
    </nav>

    <main>
        <div class="profile-main-container">
            <!-- profile section Center -->
            <div class="profile-main-section">
                <div class="profile-main-show-box">
                    profile user Banner
                    <div class="profile-banner">
                        <img src="/uploads/banner.jpg" alt="">
                    </div>
                   <!-- profile user data  -->
                   <!-- <div class="profile-user-data-box"> -->
                    <!-- profile-img-username-box -->
                      <!-- <div class="profile-img-username-box">
                            <div class="profile-img-box">
                                <img src="/uploads/1711967051270.jpg" alt="Sayan Mondal">
                            </div>
                            <div class="profile-username-box">
                                <p class="profile-Fullname">Sayan Mondal</p>
                                <p> @sayanmondal</p>
                            </div>
                      </div> -->
                        <!-- profile user post follower media -->
                      <!-- <div class="profile-user-post-follower-media-box">
                            <div class="profile-user-post-follower-media">
                                <div class="profile-user-post-num profile-maindata">
                                    <p>Post</p>
                                    <p class="bold-text">3</p>
                                </div>
                                <div class="profile-user-follower-num profile-maindata">
                                    <p>Follower</p>
                                    <p class="bold-text">22.2k</p>
                                </div>
                                <div class="profule-user-following-num profile-maindata">
                                    <p>Following</p>
                                    <p class="bold-text">22</p>
                                </div>
                                <div class="profile-user-media-num profile-maindata">
                                    <p>Media</p>
                                    <p class="bold-text">6</p>
                                </div>
                            </div>
                      </div> -->
                      <!-- profile user edit button -->
                      <!-- <div class="profile-user-edit-story-button">
                        <button class="profile-edit-btn">Profile Edit 
                            <svg class="svg" viewBox="0 0 512 512">
                              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
                          </button>                          
                      </div>      

                </div>
                    <!-- end -->
                </div> 

                <!-- profile user all user data -->

              <div class="profile-all-data-fatch-box">
                <div class="profile-about-allphoto-video-data-box">
                    <div class="profile-about-data-box">
                        <!-- <div class="profile-about-title">
                            <p>About Me</p>
                        </div>
                        <div class="profile-about-data">
                            <p>Frontend Engineer proficient in JavaScript, React, HTML, CSS, and TailwindCSS. Experienced with RESTful APIs, Firebase, and Git. Seeking a challenging Frontend Engineer role in Kolkata, Bengaluru, Hyderabad, or New Delhi, open to both remote and onsite work.</p>
                        </div>
                        <div class="profile-user-info-box">
                            <div class="profile-user-info">
                                <i class="fa-solid fa-location-dot" style="color: #6466ff"></i>
                                <p>India</p>
                            </div>
                            <div class="profile-user-info">
                                <i class="fa-brands fa-whatsapp" style="color: rgb(0, 255, 21);"></i>
                                <p>+91 9775845587</p>
                            </div>
                            <div class="profile-user-info" style="margin-bottom: 15px;">
                                <i class="fa-regular fa-calendar-days" style="color: #003992"></i>
                                <p>Joined</p>
                                <p>August 2021</p>
                            </div>
                        </div> -->
                    </div>
                    
                    <div class="profile-media-div-box">
                        <div class="profile-photo-video-title-box">
                            <p>Photos and Videos</p>
                        </div>

                        <div class="profile-all-photo-video-box">
                            <!-- 1st box -->
                            <div class="profile-photo-video-box">

                            </div>

                            <!-- 2nd box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 3rd box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 4th box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 5th box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 6th box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 7th box -->
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 8th box --> 
                            <div class="profile-photo-video-box">
                                
                            </div>

                            <!-- 9th box -->
                            <div class="profile-photo-video-box">
                                
                            </div>


                        </div>
                        <div class="profile-media-See-all">
                            <p>See all</p>
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>

                    </div>

                     
                </div> 
                  
                <!-- profile user all user post data -->
                <div class="profile-user-allpost-box">
                        <!-- <div class="main-post-box">
                            <div class="main-center-post-box">
                            <div class="main-uploader-name-box">
                                  <div class="main-pic-name-box">
                                     <div class="main-uploader-pic">
                                       <img src="/uploads/1711967051270.jpg">
                                     </div>
                                     <div class="main-uploader-name">
                                       <h6>Sayan Mondal</h6>
                                       <p>4:30AM 20 Aug</p>
                                     </div>
                                  </div>
                                  <div class="main-three-dot-box">
                                     <i class="fa-solid fa-ellipsis-vertical" aria-hidden="true"></I>
                                        <div class="main-three-dot-menu-box">
                                            <div class="own-edit-btn three-dot-menu-btn">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                                <p>Edit</p>
                                            </div>

                                            <div class="own-delete-btn three-dot-menu-btn">
                                                <i class="fa-solid fa-trash"></i>
                                                <p>Delete</p>
                                            </div>

                                            <div class="own-savepost-btn three-dot-menu-btn">
                                                <i class="fa-regular fa-bookmark"></i>
                                                <p>Save Post</p>
                                            </div>
                                        </div>
                                  </div>
                                  

                            </div>
                            <div class="main-title-hastag-box">
                            <p>nice try</p>
                            <p style="color: rgb(0, 94, 255);">
                            </p>
                            </div>
                            <div class="main-post-image-video-box">
                            <img src="/uploads/imgvideofile-76662797fd718a80e23424727fd1e272.png">
                            </div>
                            <div class="main-like-com-share-etc-box">
                            <div class="main-like-com-share">
                            <div class="main-like-box">
                            <button class="main-like-number-box">
                            <i class="fa-regular fa-thumbs-up likevarify" aria-hidden="true"></i>
                                    <p class="likevarify">1</p>
                                    <p class="likevarify">Like</p>
                            </button>
                            <div class="main-comment-box main-like-box">
                            <i class="fa-regular fa-comment" aria-hidden="true"></i>
                                <div class="main-comment-number-box main-like-number-box">
                                  <p>1</p>
                                  <p>Comment</p>
                                </div>
                            </div>
                            <div class="main-share-box main-like-box">
                            <i class="fa-solid fa-share-nodes" aria-hidden="true"></i>
                                <div class="main-share-number-box main-like-number-box">
                                  <p></p>
                                  <p>Share</p>
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="main-savecontent-box">
                            <i class="fa-regular fa-bookmark" aria-hidden="true"></i>
                            </div>
                            </div>
                            <div class="main-comment-post-box">
                            <div class="main-comment-user-pic-box">
                            <img src="/uploads/1711967051270.jpg">
                            </div>
                            <div class="main-comment-input-box">
                            <input type="text" name="text" id="text" placeholder="Write a comment">
                            <i class="fa-regular fa-face-smile" aria-hidden="true"></i>
                            </div>
                            </div>
                            </div>
                        </div> -->

                 

                </div>


              </div>




            </div>
        </div>
    </main>


  
    <script type="module" src="/js/ownprofile.frontend.js"></script>
</body>
</html>