<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/mainpage.css">
    <link rel="stylesheet" href="../public/css/profile.edit.css">
    <script src="https://kit.fontawesome.com/f74ecaf58e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">Metagram</div>
        
            <div class="InputContainer">
                <input type="text" name="text" class="input" id="input" placeholder="Search">
                
                <label for="input" class="labelforsearch">
              <svg viewBox="0 0 512 512" class="searchIcon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
              </label>
              <div class="border"></div>
              
              <button class="micButton"><svg viewBox="0 0 384 512" class="micIcon"><path d="M192 0C139 0 96 43 96 96V256c0 53 43 96 96 96s96-43 96-96V96c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 89.1 66.2 162.7 152 174.4V464H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H216V430.4c85.8-11.7 152-85.3 152-174.4V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 70.7-57.3 128-128 128s-128-57.3-128-128V216z"></path></svg>
              </button>
              
            </div>
     
            <div class="nav-end-manu"> 
                <div class="nav-icon">
                    <i class="fa-regular fa-bell"></i>
                </div>   
                  
             <div class="nav-icon">
                  <i class="fa-solid fa-bookmark"></i>
             </div>

             <div class="profile-nav-box">
                    <div class="profile-nav">
                        <img src="../public/uploads/1711967051270.jpg" alt="Sayan Mondal" class="profile-img">
                    </div>
                    <P>Sayan Mondal</P>
                    <i class="fa-solid fa-angle-down"></i>
             </div>
            </div>
            

    </nav>


    <main>
        <div class="profile-edit-container">
            <div class="account-setting-box">
                <p>Account Setting</p>
            </div>

          <div class="profile-edit-box">
            <div class="my-profile-box">
                <p>My Profile</p>
            </div>

            <div class="profile-edit-form">
                <form action="/profile/edit" method="POST" enctype="multipart/form-data">
                     <!-- profile banner edit -->
                    <div class="profile-banner-edit-box">
                        <div class="upload-files-container">
                            <div class="drag-file-area">
                                <img src="../public/uploads/banner.jpg" alt="">
                                <span class="material-icons-outlined upload-icon relativ " style="display: none;"> file_upload </span>
                                <h3 class="dynamic-message relativ"> Drag & drop any file here </h3>
                                <label class="label relativ">
                                     <span class="browse-files">

                                         <input type="file" class="default-file-input"/> 
                                         <p class="browse-files-text">browse file</p>
                                         <p>from device</p> 
                                    </span> 
                                </label>
                            </div>



                            <span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
                            <div class="file-block">
                                <div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
                                <span class="material-icons remove-file-icon">delete</span>
                                <div class="progress-bar"> </div>
                            </div>
                            <button type="button" style="display: none;" class="upload-button "> Upload </button>
                        </div>

                        
                    </div>
                     
                    <!-- profile picture edit -->

                    <div class="profile-picture-edit-box">
                        <label>
                            <img src="../public/uploads/1711967051270.jpg" alt="">
                            <input type="file" name="profilePicture" style="display: none;">
                             <div class="profile-picture-edit-title-showdown">
                                <p>Edits</p>
                             </div>
                        </label>
                        
                    </div>

                    <!-- profile full name edit -->
                    <div class="profile-fullname-edit-box">
                          <!-- profile firstname-->
                        <div class="profile-firstname-edit-box">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" id="firstname" value="Sayan">
                        </div>
                            <!-- profile lastname-->
                        <div class="profile-lastname-edit-box">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" id="lastname" value="Mondal">
                        </div>

                    </div>

                </form>
            </div>
           

          </div>
           
        </div>
    </main>



    <script>
        var isAdvancedUpload = function() {
  var div = document.createElement('div');
  return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
}();

let draggableFileArea = document.querySelector(".drag-file-area");
let browseFileText = document.querySelector(".browse-files");
let uploadIcon = document.querySelector(".upload-icon");
let dragDropText = document.querySelector(".dynamic-message");
let fileInput = document.querySelector(".default-file-input");
let cannotUploadMessage = document.querySelector(".cannot-upload-message");
let cancelAlertButton = document.querySelector(".cancel-alert-button");
let uploadedFile = document.querySelector(".file-block");
let fileName = document.querySelector(".file-name");
let fileSize = document.querySelector(".file-size");
let progressBar = document.querySelector(".progress-bar");
let removeFileButton = document.querySelector(".remove-file-icon");
let uploadButton = document.querySelector(".upload-button");
let fileFlag = 0;

fileInput.addEventListener("click", () => {
	fileInput.value = '';
	console.log(fileInput.value);
});

fileInput.addEventListener("change", e => {
	console.log(" > " + fileInput.value)
	uploadIcon.innerHTML = 'check_circle';
	dragDropText.innerHTML = 'File Dropped Successfully!';
	document.querySelector(".label").innerHTML = `drag & drop or <span class="browse-files"> <input type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: 0;"> browse file</span></span>`;
	uploadButton.innerHTML = `Upload`;
	fileName.innerHTML = fileInput.files[0].name;
	fileSize.innerHTML = (fileInput.files[0].size/1024).toFixed(1) + " KB";
	uploadedFile.style.cssText = "display: flex;";
	progressBar.style.width = 0;
	fileFlag = 0;
});

uploadButton.addEventListener("click", () => {
	let isFileUploaded = fileInput.value;
	if(isFileUploaded != '') {
		if (fileFlag == 0) {
    		fileFlag = 1;
    		var width = 0;
    		var id = setInterval(frame, 50);
    		function frame() {
      			if (width >= 390) {
        			clearInterval(id);
					uploadButton.innerHTML = `<span class="material-icons-outlined upload-button-icon"> check_circle </span> Uploaded`;
      			} else {
        			width += 5;
        			progressBar.style.width = width + "px";
      			}
    		}
  		}
	} else {
		cannotUploadMessage.style.cssText = "display: flex; animation: fadeIn linear 1.5s;";
	}
});

cancelAlertButton.addEventListener("click", () => {
	cannotUploadMessage.style.cssText = "display: none;";
});

if(isAdvancedUpload) {
	["drag", "dragstart", "dragend", "dragover", "dragenter", "dragleave", "drop"].forEach( evt => 
		draggableFileArea.addEventListener(evt, e => {
			e.preventDefault();
			e.stopPropagation();
		})
	);

	["dragover", "dragenter"].forEach( evt => {
		draggableFileArea.addEventListener(evt, e => {
			e.preventDefault();
			e.stopPropagation();
			uploadIcon.innerHTML = 'file_download';
			dragDropText.innerHTML = 'Drop your file here!';
		});
	});

	draggableFileArea.addEventListener("drop", e => {
		uploadIcon.innerHTML = 'check_circle';
		dragDropText.innerHTML = 'File Dropped Successfully!';
		document.querySelector(".label").innerHTML = `drag & drop or <span class="browse-files"> <input type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: -23px; left: -20px;"> browse file</span> </span>`;
		uploadButton.innerHTML = `Upload`;
		
		let files = e.dataTransfer.files;
		fileInput.files = files;
		console.log(files[0].name + " " + files[0].size);
		console.log(document.querySelector(".default-file-input").value);
		fileName.innerHTML = files[0].name;
		fileSize.innerHTML = (files[0].size/1024).toFixed(1) + " KB";
		uploadedFile.style.cssText = "display: flex;";
		progressBar.style.width = 0;
		fileFlag = 0;
	});
}

draggableFileArea.addEventListener("mouseover", () => {
   document.querySelectorAll(".relativ").forEach( el => {
      el.style.cssText = "display: block;"  
   });
});
draggableFileArea.addEventListener("mouseout", () => {
   document.querySelectorAll(".relativ").forEach( el => {
      el.style.cssText = "display: none;"  
   });
});

removeFileButton.addEventListener("click", () => {
	uploadedFile.style.cssText = "display: none;";
	fileInput.value = '';
	uploadIcon.innerHTML = 'file_upload';
	dragDropText.innerHTML = 'Drag & drop any file here';
	document.querySelector(".label").innerHTML = ` <span class="browse-files">

                                         <input type="file" class="default-file-input"/> 
                                         <p class="browse-files-text">browse file</p>
                                         <p>from device</p> 
                                    </span> `;
	uploadButton.innerHTML = `Upload`;
});


    </script>
    
</body>
</html>