.profile-edit-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 130px;
    height: 50px;
    border: 2px solid black;
    padding: 0px 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
  
    transition-duration: .3s;
  }
  
  .profile-edit-btn .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: rgb(0, 0, 0);
    transition-duration: .3s;
  }
  
  .profile-edit-btn:hover {
    color: transparent;
  }
  
  .profile-edit-btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .profile-edit-btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }